* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
}

.wrapper__btn {
    position: fixed;
    right: 30px;
    bottom: 30px;
    transition: 0.3s ease opacity;

    &.active {
        opacity: 0;
    }
}