.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;

  &__title {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    color: #323232;
  }

  &__button {
    &-title {
      font-size: 14px;
      font-weight: 500;
      line-height: 20px; 
      letter-spacing: 0.1px;
      color: #6750A4;
    }
  }
}
